APP_URL=http://localhost:18080/
APP_TITLE=Lebendiger Adventskalender
LOGO_IMAGE=/oela_icon.png
PUBLICATION_CONSENT_TEXT=Ich bin damit einverstanden, dass mein Name und die angegebene Adresse als Veranstaltungsort des Lebendigen Adventskalenders öffentlich auf der Homepage veröffentlicht werden.
APP_SECRET=BITTE_MIT_EINEM_LANGEN_ZUFAELLIGEN_WERT_ERSETZEN
DB_PATH=var/advent.sqlite
EMBED_ALLOWED_ORIGIN=*
APP_PORT=8080
CITIES_FILE=config/cities.json
# LOCATION=Nebringen,Öschelbronn,Tailfingen
IMPRESSUM_MD=content/impressum.md
DATENSCHUTZ_MD=content/datenschutz.md
